<!DOCTYPE html>
<html lang="en">
	<head>
		  <title>Statistics of Sightings</title>
		    <meta charset="utf-8">
		      <meta name="viewport" content="width=device-width, initial-scale=1">
		        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    			  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    			    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>

		<div class="container">
			<h2>Squirrel Sighting Statistics</h2>
			<ul>
				<li> Number of squirrel sightings by time of day  </li>
				<ul>
					<li> Morning: {{AM}} </li>
					<li> Evening: {{PM}} </li>
				</ul>
				<li>Number of Squirrels with Grey Fur: {{G}}</li>
				<li>Number of Squirrels with Cinnamon Fur: {{C}}</li>
				<li>Number of Squirrels with Black Fur:  {{B}}</li>
			</ul>
		</div>

	</body>
</html>
